.App {
  text-align: center;
  color: #64ffdbc7;
  background-color: #000F16;
  
  /* background: rgb(9,40,51);
  background: linear-gradient(164deg, rgba(9,40,51,1) 27%, rgba(0,19,28,1) 100%); */
}
.navhome:hover {
  color: white;
  font-weight: 600;
}
.navabout:hover {
  color: white;
  font-weight: 600;
}
.navprojects:hover {
  color: white;
  font-weight: 600;
}
.navskills:hover {
  color: white;
  font-weight: 600;
}
.navcontact:hover {
  color: white;
  font-weight: 600;
}
